extends ../layouts/default

block main
    h1= title
    hr

block content
    form.form-horizontal(method='post', action='/users/password', enctype='multipart/form-data', role='form' id='theForm')
        input(type='hidden', name='_csrf', value='#{csrf_token}')

        .form-group
            label.col-sm-2.control-label(for='prePassword') Pre Password
            .col-sm-10
                input.form-control#prePassword(type='password', name='prePassword', placeholder='Enter Current Password')
        .form-group
            label.col-sm-2.control-label(for='newPassword') New Password
            .col-sm-10
                input.form-control#newPassword(type='password', name='newPassword', placeholder='Enter New Password')

        .form-group
            label.col-sm-2.control-label(for='confirmPassword') Confirm Password
            .col-sm-10
                input.form-control#confirmPassword(type='password', name='confirmPassword', placeholder='Confirm Password')

        .form-group
            .col-sm-offset-2.col-sm-10
                button.btn.btn-primary(type='submit') Submit
                a.btn(href='/users/'+user._id, title='cancel') Cancel

block foot
    script(src='/js/jquery.validate.js')
    script.
        $().ready(function(){
            $('#form2').validate({
                rules: {
                    name: {
                        required: true
                    }
                }
            });
            $('#theForm').validate({
                rules: {
                    prePassword: {
                        required: true
                    },
                    newPassword: {
                        required: true,
                        minlength: 5
                    },
                    confirmPassword: {
                        required: true,
                        equalTo: "#newPassword"
                    }
                },
                messages: {
                    prePassword: "请输入当前密码",
                    newPassword: {
                        required: "请输入新的密码",
                        minlength: "密码至少要有5位"
                    },
                    confirmPassword: {
                        required: "请再次输入新的密码",
                        equalTo: "两次密码不相同，请重新输入"
                    }
                }
            });
        });
